
p {
    margin: 0px;
    padding: 0px;
    color: antiquewhite;
    font-size: 3em;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    background-color: rgb(32, 20, 20);
}

main {
    display: flex;
    flex-direction: column;
    gap: 40px;
}


.sections {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    gap: 40px;

}

.column1 {
    display: flex;
    flex-direction: column;
    /* align-content: right; */
    gap: 40px;

}

.column2 {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.layering {
    position: relative;
}

.top, .bottom {
    position: absolute;
}

.top {
    z-index: 2;
    opacity: 1;
    transition: opacity 4s ease;
}

.bottom {
    z-index: 1;
}

.layering:hover .top {
    opacity: 0;
}