*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: darkcyan;
    background-image: url(images/water.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

main {
    max-width: 1200px;
    display: flex;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

#container {
    max-height: 750px;
}

h1 {
    font-family: "Comforter";
    font-weight: 400;
    font-style: normal;
    font-size: 6em;
    margin: 0px;
    padding: 30px;
    color: #05242B;
    /* color: #144A57; */
}

h2 {
    font-family: "Flavors", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
    color: #126363;
}

p {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #05242B;
}

a {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #05242B;
}



header {
    text-align: center;
    background: linear-gradient(180deg,rgba(141, 204, 219, 1) 0%, rgba(249, 247, 240, 0) 100%);
}

footer {
    text-align: center;
}

article {
    width: 300px;
    height: 300px;
}

nav ul li {
    list-style-type: none;
    padding-top: 5px;
    line-height: 18px;
}

nav ul li a {
    text-decoration: none;
    transition: font-size 1s ease;
}

nav ul li a:hover {
    color: #126363;
    font-size: 1.1em;
}

.lilypad img {
    width: 300px;
    height: 300px;
}

.lilypad {
    position:absolute;
}

.navigation {
    position:relative;
    padding-left: 55px;
    padding-top: 65px;
}

.lilypad img {
    animation: wiggle 8s ease-in-out infinite ;
}

@keyframes wiggle {
    0%{transform: rotate(-10deg);}
    25%{transform: rotate(10deg);}
    50%{transform: rotate(-10deg);}
    75%{transform: rotate(10deg);}
    100%{transform: rotate(-10deg);}
}

