
h1, h2, h3,  p, a {
    margin: 0px;
    padding: 0px;
}

#content {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 50px;
}

body {
    background-color: antiquewhite;
}

main {
    /* margin-top: 50px; */
}

header {
    max-width: 400px;
    justify-items: right;
}

input, label {
    display: block;
}


h1 {
  font-family: "Titan One";
  font-weight: 400;
  font-style: normal;
  font-size: 5em;
  text-align: right;
  margin-top: 20px;
  margin-bottom: 20px;
}

h2 {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: right;
    max-width: 300px;
}

h3 {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    /* text-align: right; */
    margin-top: 10px;
}

label {
    font-family: "Inter", sans-serif;
    font-weight: 450;
    font-style: normal;
    /* margin-top: 10px;
    margin-bottom: 3px; */
}

p {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
}

form {
    background-color: bisque;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px
    
}

form input, #weather {
    border: 1px solid darkcyan;
    border-radius: 5px;
    padding: 5px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#madlib-questions {
    display: block;
    /* display: none; */
}

#madlib-output {
    display: none;
    /* display: block; */
    max-width: 400px;
    margin-top: 50px;
    background-color: bisque;
    padding: 20px;
}

span {
    font-style: italic;
}