
h1, h2, h3,  p, a {
    margin: 0px;
    padding: 0px;
}

#content {
    display: flex;
    justify-content: center;
    gap: 200px;
    margin-top: 70px;
}

body {
    background-color: antiquewhite;
    background-image: url(images/background1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

main {
    
}

header {
    max-width: 400px;
    justify-items: right;
    margin-top: 200px;
    /* margin-top: auto;
    margin-bottom: auto; */
    /* align-items: center; */
    /* background-color: rgb(255, 228, 196); */
}

input, label {
    display: block;
}


h1 {
  font-family: "Titan One";
  font-weight: 400;
  font-style: normal;
  font-size: 5em;
  text-align: right;
  margin-top: 20px;
  margin-bottom: 20px;
  color: rgb(190, 216, 235) ;
  text-shadow: 2px 2px black;
}

h2 {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: right;
    max-width: 300px;
    /* color: rgb(50, 95, 128) ; */
}

h3 {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    /* text-align: right; */
    margin-top: 10px;
}

label {
    font-family: "Inter", sans-serif;
    font-weight: 450;
    font-style: normal;
    /* margin-top: 10px;
    margin-bottom: 3px; */
}

p {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
}

form {
    background-color: rgb(255, 228, 196) ;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: auto;
    margin-bottom: auto;
    box-shadow: 2px 2px ;
    
}

form input, #weather {
    border: 1px solid darkcyan;
    border-radius: 5px;
    padding: 5px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
}

input:focus {
    /* how to target the field when you click on it */
    
}

#submit {

}

#submit :hover {
    color: blue;
}

#questions {
    display: block;
    /* display: none; */
}

#madlib {
    display: none;
    /* display: block; */
    max-width: 400px;
    margin-top: 50px;
    background-color: bisque;
    padding: 20px;

}

span {
    font-style: italic;
}