
h1, h2, h3,  p, a {
    margin: 0px;
    padding: 0px;
}

#content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

body {
    background-color: antiquewhite;
    background-image: url(images/background1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    max-width: 400px;
    justify-items: right;
    margin-top: 300px;
    margin-right: 20px;
}

#header {
    justify-items: right;
}

input, label {
    display: block;
}


h1 {
  font-family: "Titan One";
  font-weight: 400;
  font-style: normal;
  font-size: 5em;
  text-align: right;
  margin-top: 20px;
  margin-bottom: 20px;
  color: rgb(190, 216, 235) ;
  text-shadow: 3px 3px rgb(47, 74, 94);
}

h2 {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: right;
    max-width: 300px;
    /* color: rgb(50, 95, 128) ; */
}

h3 {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 10px;
}

label {
    font-family: "Inter", sans-serif;
    font-weight: 450;
    font-style: normal;
}

input {
    margin-top: 5px;
    margin-bottom: 8px;
    background-color:  rgb(244, 248, 250);
}

input:hover {
    background-color:  rgb(190, 216, 235);
}

input:focus {
    background-color:  rgb(190, 216, 235);
}

#submit {
    margin-top: 31px;
    background-color:  rgb(190, 216, 235);
    color:  rgb(47, 74, 94);
}

#submit:hover {
    /* background-color:  rgb(143, 179, 205); */
    background-color: rgb(59, 89, 110);
    color:  rgb(190, 216, 235);
}

p {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
}

form {
    background-color: rgb(255, 228, 196) ;
    border-radius: 20px;
    padding: 20px;
    margin-top: 250px;
    box-shadow: 2px 2px rgb(59, 89, 110, 75%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    max-width: 500px;
    justify-self: center;
    
}

form input, #weather {
    border: 1px solid darkcyan;
    border-radius: 5px;
    padding: 5px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
}


#questions {
    display: block;
    /* display: none; */
}

#madlib {
    display: none;
    /* display: block; */
    max-width: 500px;
    margin-top: 250px;
    justify-self: center;
}

#output {
    background-color: bisque;
    padding: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3em;
    line-height: 28px;
    border-radius: 20px;
    box-shadow: 2px 2px rgb(59, 89, 110, 75%);
}

#output p {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
}

span {
    font-style: italic;
    color: rgb(74, 113, 143);
}

h3 a {
    color: black;
}

h3 a:hover {
    color: rgb(190, 216, 235);
}

#again {
    justify-items: center;
}

#submit-again {
    display: block;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3em;
    margin-top: 20px;
    background-color:  rgb(190, 216, 235);
    color:  rgb(47, 74, 94);
    border: solid;
    border-width: 2px;
    border-radius: 20px;
    border-color: rgb(59, 89, 110);
    padding: 10px;
}

#submit-again:hover {
    background-color: rgb(59, 89, 110);
    color:  rgb(190, 216, 235);
}